<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:cache="http://www.springframework.org/schema/cache" xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">



	<!-- 配置velocity引擎 -->
	<bean id="velocityConfigurer"
		  class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<!-- 模板存放的路径 -->
		<property name="resourceLoaderPath" value="/WEB-INF/vm/"/>
		<!-- Velocity配置文件 -->
		<property name="configLocation" value="classpath:velocity.properties"/>
	</bean>

	<!-- 配置视图的显示 -->
	<bean id="ViewResolver" class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
		<property name="prefix" value="page/"/>
		<!-- 视图文件的前缀，即存放的路径 -->
		<property name="suffix" value=".vm"/>
		<!-- 视图文件的后缀名 -->
		<property name="toolboxConfigLocation" value="WEB-INF/vm/toolbox.xml"/>
		<!--toolbox配置文件路径-->
		<!--<property name="dateToolAttribute" value="date"/>-->
		<!--日期函数名称-->
		<property name="numberToolAttribute" value="number"/>
		<!--数字函数名称-->
		<property name="contentType" value="text/html;charset=UTF-8"/>
		<property name="exposeSpringMacroHelpers" value="true"/>
		<!--是否使用spring对宏定义的支持-->
		<property name="exposeRequestAttributes" value="true"/>
		<!--是否开放request属性-->
		<property name="requestContextAttribute" value="rc"/>
		<!--request属性引用名称-->

		<property name="screenContentKey" value="screen_content"></property>
		<!--指定默认layout文件-->
		<property name="layoutUrl" value="layout/default.vm"/>
		<!-- 页面公共变量-->
		<property name="attributes">
			<props >
				<prop key="welcomeWords">${welcome.word}</prop>
				<prop key="requestError">${request.error}</prop>
			</props>
		</property>
	</bean>

</beans>