<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <beans>
        <bean id="schedulerMap" class="java.util.HashMap">
            <constructor-arg>
                <map>
                    <entry key="testScheduler" value-ref="testScheduler"/>
                    <entry key="roomJobDetail" value-ref="roomJobDetail"/>
                    <entry key="signJobDetail" value-ref="signJobDetail"/>
                    <entry key="signScheduler" value-ref="signScheduler"/>
                </map>
            </constructor-arg>
        </bean>
        <bean id="autoSignByGetServiceImpl" class="com.ty.room.service.impl.AutoSignByGetServiceImpl">
            <property name="url" value="http://huan.jd.com/json/sign/signIn.action"/>
        </bean>
    </beans>

</beans>